<h1>Property Details</h1>

<div class="card border-success mb-3" style="width: 18rem;">

  <div class="card-header">  Details</div>
  
  

  <ul class="list-group list-group-flush">
    <li class="list-group-item">House Type: <%= @house.desription%></li>
    <li class="list-group-item">Site location: <%= @house.location%></li>
    <% if @house.sold%>
      <p class ="btn btn-success">Sold</p>
    <%else%>
      <%if @house.available_for=="buy"%>
        <li class="list-group-item">For <%= @house.available_for%>: <%= @house.buying_price%>Rs</li>
        <%= link_to 'Payment', "#{new_payment_path}?id=#{@house.id}",  class: "btn btn-primary m-1"%>
      <%else%>
        <li class="list-group-item">For <%= @house.available_for%>: <%= @house.rental_price%>Rs</li>
        <%= link_to 'Payment', "#{new_payment_path}?id=#{@house.id}",  class: "btn btn-primary m-1"%>
      <%end%>
    <%end%>   
  </ul>

    <div class='d-flex'>
        <%= link_to 'Back',houses_path, class: 'me-3' %>
       <% if can? :update , @house%>
        <%= link_to 'edit',edit_house_path(@house) %>
       <%end%>
    </div>
</div>