
<%
=begin%>
 transfer to application.css 
<%
=end%>

<section data-bs-version="5" class="features7 cid-sHbZFN6Ckx" id="features07-4">
    
    
    <div class="container">

        <div class="row row-bg mt-4">
            <div class="mbr-section-head col-12 pb-4">
                <h4 class="mbr-section-title mbr-fonts-style align-left pt-2 mb-0 display-5">Property Details</h4>
                
            </div>
            <div class="d-flex justify-content-center  align-items-center">
              <div class="col-12 col-md-6">
                <div class="card item-wrapper">
                  <div class="item-img">
                  <%if @house.profile_image.present?%>
                    <img src="<%= (url_for(@house.profile_image)) %>" alt="house_pic" width="350px" class="rounded-circle border border-white">
                  <%end%>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 bg-danger rounded-pill shadow-pill align-self-stretch d-flex justify-content-center align-items-center border border-dark">
                <div class="card item-wrapper" >
                  <ul class="list-group list-group-flush" style="background-color: transparent; border: none;">
                    <li class="list-group-item">House Type: <%= @house.desription%></li>
                    <li class="list-group-item">Site location: <%= @house.location%></li>
                    <% if @house.sold %>
                      <p class="btn btn-success">Sold</p>
                    <% else %>
                      <% if @house.available_for == "buy" %>
                        <li class="list-group-item">For <%= @house.available_for %>: <%= @house.buying_price %>Rs</li>
                        <%= link_to 'Payment', "#{new_payment_path}?id=#{@house.id}", class: "btn btn-primary m-1 " %>
                      <% else %>
                        <li class="list-group-item">For <%= @house.available_for %>: <%= @house.rental_price %>Rs</li>
                        <%= link_to 'Payment', "#{new_payment_path}?id=#{@house.id}", class: "btn btn-primary m-1 " %>
                      <% end %>
                    <% end %>   
                    
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>

    <!-- Add this code inside the card containing property details -->
<div class="row mt-5 p-2">
  <div class="border border-dark card-footer d-flex flex-column  rounded-pill justify-content-center align-items-center col-5 shadow-lg p-3 mb-5  rounded">
    <h5 class="mbr-section-title mbr-fonts-style align-center pt-2 mb-3 ">Feedback Form</h5>
    <%= form_with model: @feed do |form| %>
      <div class="mb-3">
        <p class="text-start mb-0 mx-5 " >  <label  class="form-label">Feedback Message</label></p>
        <%= form.text_area :feedback, class: 'form-control', required: true %>
        <%=form.hidden_field :house_id, value: @house.id%>
      </div>
      <%= form.submit :Submit, class: 'btn btn-primary' %>
    <% end %>
  </div>

  <div class="col-4 border border-white container ms-auto bg-dark text-white">
    <% @feedbacks.each do |feed| %>
    <div class="d-flex justify-content-between align-items-center">
      <p class= '  mb-0 text-start p-2'><strong class='me-3'><%= feed.name %>: </strong> <%= feed.feedback %></p>
      <% if can? :destroy, feed %>
      <%= link_to "delete", feed_path(feed), data:{turbo_method: :delete ,turbo_confirm:'Are you sure'}, class: "badge bg-danger"%>
      <%end%>
    </div>
    <% end %>
   
  </div>



</div> 

</section>