<h1>Property Details</h1>

<div class="card border-success mb-3" style="width: 18rem;">

  <div class="card-header">  Details</div>
  
  

  <ul class="list-group list-group-flush">
    <li class="list-group-item">House Type: <%= @house.desription%></li>
    <li class="list-group-item">Site location: <%= @house.location%></li>
    <li class="list-group-item">For Buy: <%= @house.buying_price%>Rs</li>
     <%= link_to 'Payment', "#{new_payment_path}?id=#{@house.id}",  class: "btn btn-primary m-1"%> 
     <li class="list-group-item">For Rent: <%= @house.rental_price%>Rs</li>
      <%= link_to 'Payment', "#{new_payment_path}?id=#{@house.id}",  class: "btn btn-primary m-1"%> 
  </ul>

    <div class='d-flex'>
        <%= link_to 'Back',houses_path, class: 'me-3' %>
       <% if can? :update , @house%>
        <%= link_to 'edit',edit_house_path(@house) %>
       <%end%>
    </div>
</div>