
 <script>
    const flashMessage = "<%= flash[:alert] %>";
    if (flashMessage) {
      alert(flashMessage);
    }
</script>

<%= form_tag "#{payments_path}?id=#{params[:id]}" do %>

  <label class="amount">
      <span>Amount: <%= @amount %> rs</span>
  </label>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="A month's subscription"
    data-amount="<%= @amount%>"
    data-locale="auto">
  </script>

<% end %>